@import "./mixins.scss";
@import "./button.scss";
@import "./style_global.scss";
@import "./texts.scss";
@import "./tables.scss";

@import "./input.scss";
@import "./totals.scss";
@import './font-family.scss';

// :root {
//   --color-black: #0b060e;
//   --color-gray: #535353;
//   --color-white-1: #fefefe;
//   --color-white-2: #f7fbff;
//   --color-white-3: #d3d0ce;
//   --color-theme-1: #6a478d; //#6a478d;
//   --color-theme-2: #d2cfcd;
//   --color-theme-3: #00ebf9; //#00ebf9;
// }
html,
body {
  padding: 0;
  margin: 0;
  font-family: "RubikRegular", sans-serif;
  // font-size: 16px;
}

.alin {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;

  .link {
    color: var(--color-theme-1) !important;
    text-decoration: underline !important;
  }
}

* {
  box-sizing: border-box;
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;

  position: relative;
  color: var(--color-theme-1);
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.weight-900 {
  font-weight: 900;
}

.not-margin-padding {
  padding: 0;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

div[id="single-spa-application:@sapiencia/funds"] {
  height: 100%;
}

// .grid {
//   display: grid;

//   &.gap-25 {
//     gap: 25px;
//   }
// }

.container-form {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  opacity: 1;
  margin: 2em;
}

//
.container-sections-forms {
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  opacity: 1;
  padding: 2em;
  margin: 1.5em 0em;
}

.container-table-result-responsive {
  border: 1px none #e0e0e0;
  border-radius: 15px;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.container-button-bot {
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
  height: 9vh;
}

.button-save-container-display {
  display: flex;
  justify-content: center;
  flex-direction: row;

  &.m-top-20 {
    margin-top: 20px;
  }
}

.button-save-container-display {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.title-area {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 14px;
  position: relative;
}

@media (min-width: 768px) {
  .responsive-table {
    // Propiedades originales
    flex-direction: row;
    border: none #ddd;
    border-width: 0 0 0 0;
    padding: 16px;
    border-radius: 0;
    box-shadow: none;
    gap: 0;
    margin: 0;

    // Propiedades nuevas
    display: inline-block;
  }

  .title-table {
    // Propiedades originales
    background-color: #f2f2f2;
    align-items: center;
    height: 3em;
    display: flex;
    justify-content: center;

    // Propiedades nuevas
    display: inline-block;
  }

  .table-row {
    // Propiedades originales
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;

    // Propiedades nuevas
    display: inline-block;
  }

  .table-column {
    // Propiedades originales
    padding: 8px;
    font-weight: normal;
  }
}

.mg-0 {
  margin: 0;
}

.alto-auto {
  height: auto;
}

.padding-form {
  padding: 20px;
}

.dl-agregarItem-voting {
  height: 90vh;
}

.margin-right0 {
  margin-right: 0px;
}

.barra-spacing {
  border-radius: 29px;
  border: 1px solid #dee2e6;
}

.label-max-textarea {
  text-align: end;
  margin-top: 0px;
  font-size: 14px;
}

.mdf {
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-save-container-display-maestros {
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin-right: 24px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    flex-direction: column;

    margin-top: 150px;

    margin-left: 4px;
    margin-bottom: 100px;

    .button-cancel-text {
      order: 2;
      width: 100%;
      margin-left: 9px;
      margin-top: 24px;
      margin-bottom: 60px;
      margin-top: 5px;
    }

    .button-save {
      order: 1;
      width: 100%;
      background-color: #533893;
      display: flex;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      margin-top: 24px;
    }
  }
}

.button-save-container-display-actas {
  display: flex;
  justify-content: end;
  flex-direction: row;

  margin: 15px 0;

  @media (max-width: 700px) {
    flex-direction: column;
    // margin-left: 4px;

    .button-cancel-text {
      order: 2;
      width: 100%;
      margin-left: 9px;
      margin-top: 24px;
      //margin-bottom: 60px;
      margin-top: 5px;
    }

    .button-save {
      order: 1;
      width: 100%;
      background-color: #533893;
      display: flex;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      margin-top: 24px;
    }
  }
}

.button-save-container-display-actas-users {
  display: flex;
  justify-content: end;
  flex-direction: row;

  margin-bottom: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 10px;

    .button-cancel-text {
      order: 2;
      width: 100%;
      margin-left: 9px;
      margin-top: 24px;

      margin-top: 5px;
    }

    .button-save {
      order: 1;
      width: 100%;
      background-color: #533893;
      display: flex;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      margin-top: 24px;
    }
  }
}

/* Estilo para el campo habilitado */
.input-enabled {
  background-color: #ffffff;
  /* Color de fondo blanco por defecto */
  /* Agrega otros estilos según tus preferencias */
}

/* Estilo para el campo deshabilitado */
.input-disabled {
  background-color: #e2e2e2;
  //cursor: not-allowed;
}

// .input-basic {
//   font-weight: regular;
//   font-family: "Rubik" !important;
//   font-size: 14px;
// }

// .input-regular {
//   font-weight: regular;
//   font-family: "Rubik" !important;
//   font-size: 14px;
// }

// span.select-basic {
//   font-weight: regular !important;
//   font-family: "Rubik" !important;
//   font-size: 7px !important;
// }

// .select-basic .p-dropdown-label {
//   font-weight: regular !important;
//   font-family: "Rubik" !important;
//   font-size: 14px !important;
// }

// .p-datatable-tbody {
//   font-weight: regular !important;
//   font-family: "Rubik" !important;
//   font-size: 14px !important;
// }

.mg-0 {
  margin: 0;
  padding: 15px;
}

/* .content-tbl-totales {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
 */


.alingcent-textopciones {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.txt-center {
  text-align: center;
  height: 60px !important;
}

/* .content-tbltotls {
  display: flex;
  flex-direction: row;
} */

/* .content-tbltotlscolumn {
  display: flex;
  flex-direction: column;
} */

.colorcontetnmin {
  width: 201px;
  height: 60px !important;
  flex-shrink: 0;
  border-radius: var(--spacing-spacing-0, 0px);
  text-align: center;
  background: #f8f9fa;
}

@media (max-width: 768px) {
  .colorcontetnmin {
    width: 100%; /* Element takes full width of its container */
    height: auto; /* Height is adjusted automatically */
    /* Remove !important if possible to avoid conflicts */
  }
}

.modal-content .text-black-2 {
  font-weight: medium !important;
  font-family: "Rubik" !important;
}






/* Base styles for .content-tbl-totales */
.content-tbl-totales {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap; /* Allows items to wrap to the next line if they don't fit */
  margin-right: -10px; /* Adjusts for the padding in the child elements */
  margin-bottom: -10px; /* Adjusts for the padding in the child elements */
}

/* Base styles for .content-tblt */
.content-tblt {
  flex: 0 1 201px; /* Flex grow is 0, flex shrink is 1, base width is 201px */
  height: 104px;
  //margin-right: 10px; /* Adds space between items */
  margin-bottom: 10px; /* Adds space below items */
  background: #f8f9fa;
  color: #000;
  text-align: center;
  font-family: Rubik;
  font-size: 17px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Prevents content from overflowing */
  word-wrap: break-word; /* Ensures that long words will be broken and wrapped to the next line */
  padding: 10px; /* Adds some padding inside the blocks */
}

/* Base styles for .content-tbltotls */
.content-tbltotls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

/* Responsive styles */
@media (max-width: 768px) {
  .content-tbl-totales,
  .content-tbltotls {
    flex-direction: column;
  }

  .content-tblt {
    flex: 0 0 auto; /* Flex grow is 0, flex shrink is 0, flex basis is auto */
    width: 100%; /* Allows item to expand to full width */
    height: auto; /* Adjusts height automatically */
    margin-right: 0; /* Removes right margin for full width */
  }
}






.modal-container .modal-header p {
  font-size: 29px !important;
}

.modal-content-items {
  text-align: center;
  flex-direction: column;
  align-items: center;
  height: 70%;
  //margin-top: 1em;
  overflow-x: auto;
  overflow-y: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 8px;
}

.container-form-grid-actas {
  flex: 1;
  /* Ocupa todo el espacio disponible, dividido equitativamente */
}

/* Punto de interrupción para pantallas pequeñas */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    /* Alineación vertical en pantallas pequeñas */
  }

  .container-form-grid-actas {
    width: 100%;
    /* Ocupa el 100% del ancho en pantallas pequeñas */
  }

  .mt-24px {
    margin-top: 58px !important;
  }
}

.label-container {
  display: flex;
  align-items: center;
  /* Alinea los elementos verticalmente en el centro */
}

.exmaple-1 {
  display: flex;
  padding: var(--spacing-spacing-0, 0px);
  justify-content: center;
  align-items: flex-end;
  gap: var(--spacing-spacing-0, 0px);
  align-self: stretch;

  border-radius: var(--spacing-spacing-0, 0px);
  border: 1px solid var(--border-table, #f2f2f2);
}

.text-red {
  color: red
}

.text-orange {
  color: orange;
}

.text-black.huge,
.huge.text-black-2 {
  font-size: 29px;
}

.title-button-users {
  display: flex;
  align-items: center;
}

.title-button-users .ai {
  vertical-align: middle;
}

.title-button-users {
  line-height: 1.5;
}

.title-button-users .ai {
  margin-bottom: -5px;
  /* Ajusta este valor según sea necesario */
}

.spacing-element {
  height: 20px;
  /* Ajusta el valor según la separación que desees */
  margin-top: 24px;
}

.button-container {
  margin-bottom: 200px;
  /* Ajusta el valor según la separación que desees */
}

.toggle-control {
  display: block;
  position: relative;
  padding-left: 2.25rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  font-size: 1.375rem;
  user-select: none;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-control input:checked~.control {
  background-color: #533893;
}

// .toggle-control input:checked ~ .control:after {
//   left: 30px;
// }

.toggle-control input:checked~.size-normal:after {
  left: 30px;
}

.size-normal {
  height: 32px;
  width: 60px;
}

.size-normal:checked {
  height: 32px;
  width: 60px;
}

.size-normal:after {
  width: 25px;
  height: 25px;
  left: 0.313rem;
  top: 4px;
}

.toggle-control input:checked~.size-small:after {
  left: 15px;
}

.size-small {
  height: 16px;
  width: 30.67px;
}

.size-small:checked {
  height: 32px;
  width: 60px;
}

.size-small:after {
  width: 12.55px;
  height: 12.55px;
  left: 0.313rem;
  top: 2px;
}

.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.563rem;
  background-color: darkgray;
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
  content: "";
  position: absolute;
  border-radius: 1.563rem;
  background: white;
  transition: left 0.15s ease-in;
}

.tab {
  padding: 12px 16px 12px 16px;
  border-radius: 30px;
  margin-right: 8px;
}

.tab-normal {
  background-color: #e2e2e2;
  color: black;
}

.tab-checked {
  background-color: #533893;
  color: white;
}

.button-download.large {
  width: 9.5em;
  height: 2.5em;
  font-size: 16px;

  @media (max-width: 550px) {
    width: 100%;
  }
}

.button-download {
  background-color: rgba(0, 0, 0, 0);
  color: #533893;
  border-radius: 100px;
  border: 1px solid #533893;
  cursor: pointer;
  margin: 0.5em;
}

.container-buttonText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
}

.tooltip .tooltiptext {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: normal;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 200px;
  font-weight: 400;
  font-size: 13px;
}

.tooltip:hover .tooltiptext {
  display: block;
  /* Muestra el tooltip cuando se coloca el cursor sobre el elemento */
}

.button-save-container-display-maestros-actas {
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin-right: 24px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    flex-direction: column;

    margin-top: 10px;

    margin-left: 4px;
    margin-bottom: 10px;

    .button-cancel-text {
      order: 2;
      width: 100%;
      margin-left: 9px;
      margin-top: 24px;
      margin-bottom: 60px;
      margin-top: 5px;
    }

    .button-save {
      order: 1;
      width: 100%;
      background-color: #533893;
      display: flex;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      margin-top: 24px;
    }
  }
}

.mr-auto {
  margin-right: auto !important;
}

@for $inx from -18 through 100 {
  $current-margin: 1px * $inx;
  $current-padding: 1px * $inx;

  .mt-#{$inx}px {
    margin-top: $current-margin;
  }

  .mb-#{$inx}px {
    margin-bottom: $current-margin;
  }

  .mr-#{$inx}px {
    margin-right: $current-margin;
  }

  .ml-#{$inx}px {
    margin-left: $current-margin;
  }

  .m-#{$inx}px {
    margin: $current-margin;
  }

  .p-#{$inx}px {
    padding: $current-padding;
  }

  .pt-#{$inx}px {
    padding-top: $current-padding;
  }

  .pr-#{$inx}px {
    padding-right: $current-padding;
  }

  .pb-#{$inx}px {
    padding-bottom: $current-padding;
  }

  .pl-#{$inx}px {
    padding-left: $current-padding;
  }
}


.button-save-container-display-items {
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin-right: 24px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 10px;
    margin-left: 4px;
    margin-bottom: 10px;

    .button-save {
      /* Asegúrate de que esta clase corresponde al botón Guardar */
      order: 1;
      /* Esto coloca el botón Guardar primero */
      width: 100%;
      padding: 12px 16px;
      margin-top: 24px;
    }

    .button-clean {
      /* Asegúrate de que esta clase corresponde al botón Cancelar */
      order: 2;
      /* Esto coloca el botón Cancelar después del botón Guardar */
      width: 100%;
      margin-left: 9px;
      margin-top: 5px;
      margin-bottom: 60px;
    }
  }

  .text{
    margin-top: 24px;
  }

  
}