.button-download {
  @include generate-button(100px, #533893, transparent, 1px solid #533893);
  margin: 0.5em;

  &.large {
    width: 9.5em;
    height: 2.5em;
    font-size: 16px;
  }
}

.colorTittle {
  color: #533893;
}

.container-buttonText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  span {
    font-weight: 600;
  }
}

.button-border {
  border-radius: 100px;
  border: 1px solid #533893;
  padding: 0.4rem;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.button-table {
  width: auto !important;
  color: #533893 !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important;

  &:hover {
    cursor: pointer;
    background: transparent;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
  }
}

.button-table2 {
  width: auto !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important;

  &:hover {
    cursor: pointer;
    background: transparent;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
  }
}

.button-menu-tooltip {
  width: 100%;
  background: transparent !important;
  border: none !important;

  &:hover {
    background: #e9ecef !important;
  }

  &:focus {
    box-shadow: none !important;
  }

}