@import "./mixins.scss";
@import "./variables.scss";
@import "./font-family.scss";

.one-filter-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 1rem;
    
    &.padding-one-filter{
        padding: 1rem 0px;
    }

}

.funcionality-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0rem 1.5rem 1rem;
    flex-direction: column-reverse;
    gap: 1rem;

    &.border-top{
        border-top: 1px solid rgba(112, 112, 112, 0.1019607843);
        padding-top: 1rem;
    }
}

.funcionality-buttons-container2{
    @extend .funcionality-buttons-container;
    margin: 1.5rem 0rem 0rem;
    width: 100%;
}

.funcionality-filters-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    padding: 0 0 0.8rem 0;
    row-gap: 1rem;
}

.grid-form-3-container-area {
    display: grid;
    grid-template-columns: 1fr 0.95fr 1fr;
    grid-gap: 0.5rem 1rem;
    align-items: stretch;
  
    &.grid-column-repet{ 
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 16px 16px;
    }
  
    &.grid-column-repet-4{ 
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 16px 16px;
    }
    
}
  
.no-margin{
    margin: 0px;
}

.title-area-2{
    @include card-component-title-area(flex, space-between, column-reverse, 1.5rem, null, 1rem, null, null)
}
.title-area-3{
    @include card-component-title-area(flex, space-between, column-reverse, 0.8rem, null, 1rem, null, center)
}

.title-area-4{
    @include card-component-title-area(flex, space-between, row, 0.8rem, 8px, 1rem, null, center)
}

.width-style{
    width: 100%;

    &.width-70{
        width: 70%;
    }

    &.width-50{
        width: 50%;
    }
}

.container-actions_formTabs {
    @include generate-flex-container(row, null, space-around, null, null, 0.62em);
}

.content-tooltip{
    display: flex;
    align-items: center;
    justify-content: center;
}

.style-tooltip{
    display: inline-block;
    max-width: 25vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    border: none;
    border-width: 0 0 1px 0;
    padding: 0.5rem 0.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    font-family: "RubikRegular", sans-serif !important;
    font-style: normal;
    color: #000;
    cursor: pointer;
}

.disabled-component{
    cursor: not-allowed !important; 
    opacity: .4 
}

.checkbox-customer{
    border-color: #533893 !important;
    color: #533893 !important;
}

.icon-size{
    width: 1.2rem;
    height: 1.2rem;
    font-family: RubikRegular, sans-serif;
    cursor: pointer;

    &.not-padding{
        padding: 0;
    }
}

.menu-style{
    max-height: 23vh;
    overflow: auto;
    width: 15.5rem !important;

    span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.content-accordion-tab{
    color: #000;
    font-family: RubikRegular, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    text-align: left;

    &.tiny {
        font-size: 0.6em;
      }
    
      &.small {
        font-size: 0.7em;
      }
    
      &.medium {
        font-size: 0.8em;
      }
    
      &.big {
        font-size: 1em;
      }
    
      &.biggest {
        font-size: 1.22em;
      }
    
      &.large {
        font-size: 1.4em;
      }
    
      &.extra-large {
        font-size: 1.8em;
      }
}

.container-designation-three-objects{
    row-gap: 1.5rem;
    display: grid;
}
  
@media (min-width: 1024px) {
    .one-filter-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      column-gap: 1rem;
      row-gap: 0rem;
    }

    .funcionality-buttons-container {
        display: grid;
        grid-template-columns: 8rem 8rem;
        justify-content: end;
        column-gap: 1rem;
        align-items: center;
        justify-items: end;
    }

    .funcionality-buttons-container2{
        display: grid;
        grid-template-columns: 8rem 8rem;
        justify-content: center;
        column-gap: 1rem;
        align-items: center;
        justify-items: center;
    }

    .funcionality-filters-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: 1fr;
        column-gap: 1rem;
        row-gap: 0rem;
    }

    .title-area-2{
        @include card-component-title-area(flex, space-between, row, 14px, 8px, 1rem, null, none )
    }

    .title-area-3{
        @include card-component-title-area(flex, space-between, column-reverse, 0.8rem, null, 1rem, null, flex-start)
    }

    .title-area-4{
        @include card-component-title-area(flex, space-between, row, 14px, 8px, 1rem, null, none )
    }

    .container-actions_formTabs {
        @include generate-flex-container(
          row,
          null,
          space-around,
          null,
          null,
          0.62em
        );
    }

    .container-designation-three-objects {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;

        &.grid-template-container-first{
            grid-template-columns: 2fr 1fr 1fr;
        }

        &.grid-template-container-second{
            grid-template-columns: 1fr 2fr 1fr;
        }

        &.grid-template-container-third{
            grid-template-columns: 1fr 1fr 2fr;
        }

        &.grid-template-container-fourth{
            grid-template-columns: 2fr 1fr 2fr;
        }
  
        &.col-gap-big{
          column-gap: 1rem;
        }

        &.col-gap-normal{
            column-gap: 0.8rem;
        }

        &.col-gap-small{
            column-gap: 0.5rem;
        }
    }
}

//650px
@media (max-width: 750px) {
    .display-align-flex-center{
        flex-direction: column
    }

    .card-user{
        width: 100%;
    }
}


@media (max-width: 450px) {

    .title-area{
        flex-direction: column-reverse;
    }

    .title-area-4{
        @include card-component-title-area(null, null, column, null, null, 0.8rem);
    }
}
@media (max-width: 390px) {
    .funcionality-filters-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
@media (max-width: 350px) {
    .tabs-component{
        .tabs-selection{
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}

@media (max-width: 390px) {
    .funcionality-filters-container {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .menu-style{
        width: 100% !important;
    }
}
