@import "../../styles/mixins.scss";
.containerProgram {
  width: 572px;
}

.containerGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.percentageSemiannualPayment {
  width: 338px;
}

.containerIsOpenPeriod {
  display: flex;
  justify-content: center;
  
}

.p-24 {
  padding: 24px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mr-12 {
  margin-right: 12px;
}

.containerApplyService {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.containerApplyService div {
  width: 310px;
}

.containerTabs {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}

.containerTabs div {
  margin-bottom: 16px;
}

.containerButtons {
  display: flex;
  justify-content: center;
}

.container-form-children {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  opacity: 1;
  width: 100%;
}

.buttonsActions2 {
  display: flex;
  justify-content: end;
  margin: 1.5rem 0;
}

.containerJsonTable {
  margin-top: 24px;
  overflow-x: auto;
  max-width: 43.75rem;
  max-height: 28rem;

  
}
.containerJsonTable::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 3px;
  background-color: #d9d9d9;
}

.containerJsonTable::-webkit-scrollbar-thumb {
  background-color: #acabab;
  border-radius: 3px;
}
.spc-customized-table {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .grid-button {
    font-size: 1.6em;
  }

  .button-detail {
    filter: invert(42%) sepia(39%) saturate(6725%) hue-rotate(173deg) brightness(94%) contrast(96%);
    width: 24px;
    height: 24px;
  }

  .button-edit {
    filter: invert(46%) sepia(75%) saturate(624%) hue-rotate(81deg) brightness(90%) contrast(100%);
    width: 24px;
    height: 24px;

    &.disable {
      filter: invert(72%) sepia(16%) saturate(45%) hue-rotate(344deg) brightness(96%) contrast(87%);
      cursor: auto;
    }

  }

  .button-delete {
    filter: invert(21%) sepia(99%) saturate(7500%) hue-rotate(3deg) brightness(103%) contrast(117%);
    width: 20px;
    height: 20px;
  }

  .p-paginator {
    padding: 0px;

    .content-result{
      display: flex;
      width: 100%;
        gap: 0;
        margin-right: 0;
        justify-content: space-between;
        align-items: center;
    }

    .header-information {
      user-select: none;
      margin: 0.7rem 0
    }

    .p-dropdown {
      cursor: pointer;
      display: flex;
      padding: 6px 8px;
      justify-content: center;
      align-items: center;
      border-radius: var(--6, 8px);
      border: 1px solid var(--border-border-input, #E2E2E2);
      gap: 5px;

      span {
        display: flex;
        flex-direction: column;
        flex: 1 0 0;
        padding: 0;
        font: normal normal 400 0.9rem/120% "RubikMedium", sans-serif;
        color: #121212;
      }

      .p-dropdown-trigger {
        width: 16px;
        height: 16px;
      }

    }

    .p-paginator-prev .p-paginator-next {
      margin: 0px !important;
      padding: 1.5px;
    }
  }

  .p-paginator.between {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;

    .information {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .p-datatable {
    overflow: auto;
    border-radius: var(--spacing-spacing-2, 16px);
  
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 8px;

    .p-column-header-content {
      justify-content: center;

      span{
        font: normal normal 500 0.9rem/120% "RubikMedium", sans-serif;
        color: #000;
      }
    }

    .p-datatable-tbody tr td {
      text-align: center;
    }
  }

  .p-dataview {
    font-size: 14px;
    height: 45vh;
    overflow: auto;

    .card-grid-item {
      margin-top: 1rem;
      margin-bottom: 2rem;
      $width: null;
      $height: null;
      $padding: 0px;
      @include card-component($width, $height, $padding);

      .card-header {
        padding: 5%;
        height: 80%;

        .item-value-container {
          display: flex;
          justify-content: space-between;
          text-align: center;
          flex-direction: column;

          p {
            &:nth-child(even) {
              background: #F9F9F9;
              margin: 0;
              min-height: 6vh;
              height: auto;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      .card-footer {
        display: flex;
        justify-content: space-around;
        padding: 25px 5%;
        position: relative;

        .section-action {
          display: flex;
          justify-content: center;
          flex-direction: row;
          height: 6vh;
          background: #F9F9F9;
          align-items: center;
          width: 100%;
          gap: 0.8rem
        }
      }
    }
  }

  .table-previus:after {
    content: "Ant";
  }

  .table-next:after {
    content: "Sig";
  }

  table {
    tr {
      border: 1px solid #e9e9e9;
      background: #F4F4F4 !important;
    }

    tr:nth-child(even) {
      background-color: #fff !important;
    }
    td{
      font-size: 0.89rem !important;
      font-family: "RubikMedium", sans-serif !important;
    }

  }
}

.containerTitleRegulation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 0px 0;
}

.containerGroupSearch {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.font-500 {
  font-weight: 500;
}

.table-header {
  height: auto !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-reglament {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 1154px;
  height: 757px;
  max-width: 90%;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 32px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #533893;
}

.title-modal-reglament {
  font-size: 29px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #533893;
  margin-top: 82px;
}

.container-modal-body {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow-y: auto;
}

.container-modal-acordion-title {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}

.title-disable-jsonTable {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 16px;
}

.data-disable-jsonTable {
  width: 71px;
  height: 41px;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  background: linear-gradient(0deg, #e2e2e2, #e2e2e2),
    linear-gradient(0deg, #d9d9d9, #d9d9d9);
}

.container-disable-jsonTable {
  display: flex;
}

.opacity {
  opacity: 0.5;
}

.btn-back {
  color: #533893;
  background: white;
  border: 1px solid #533893;
}

@media only screen and (max-width: 767px) and (min-width: 300px) {
  .containerProgram {
    width: 100%;
  }

  .containerGroup {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .containerInitialPeriod {
    width: 100%;
  }

  .containerEndPeriod {
    width: 100%;
    margin-top: 1rem;
  }

  .percentageSemiannualPayment {
    width: 100%;
  }

  .containerApplyService {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .containerApplyService div {
    width: 100%;
  }

  .buttonsActions {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .containerGroupSearch {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .p-24 {
    padding: 16px;
  }
}

@media (max-width: 1023px) {
  .containerIsOpenPeriod {
    display: flex;
    justify-content: start;
  }

  .direction-switch{
    display: flex;
    justify-content: flex-end;
  }
}
