.summary {
  width: 100%;
  height: 75px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 37px;
  cursor: pointer;
}

.onlyView {
  width: 100%;
  height: 75px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 37px;
}

.summary:hover {
  background-color: #e9ecef;
  border-radius: 16px;
}

.details {
  border: 1px solid #e2e2e2;
  border-radius: 16px;
}

.contentAcordion {
  padding: 16px 24px 16px 24px;
}

.text-font {
  font-size: 1.25em;
}

.bold-500 {
  font-weight: 500;
}

.ml-24 {
  margin-left: 24px;
}

.details.disabled {
  pointer-events: none;
}

.summary.disabled {
  cursor: not-allowed; /* Cambia el cursor para indicar que no se puede interactuar */
}

@media only screen and (max-width: 550px) and (min-width: 200px) {
  .text-font {
    font-size: 0.8rem;
  }

  .onlyView {
    gap: 0.8rem;
  }

  .onlyView  > *:first-of-type {
    width: 90% 
  }
  .onlyView  > *:last-of-type {
    width: 10% 
  }
}
